#map
  min-height: 80vh

  .no-bg-icon
    /* color: var(--bg)
    /* color: #ffffff
    color: black

    svg
      /* fill: var(--text)
      /* fill: #208315
      fill: white

  .orgpin-mzw
    color: #ffffff

    svg
      fill: #208315

  .orgpin-ppw
    color: #c7c7c7
    svg
      fill: #5b007e

  .orgpin-kpw
    color: #fff
    svg
      fill: #133762

  .orgpin-ptw
    color: #fff
    svg
      fill: #000


  .orgpin-ddw
    color: #fbf1c7
    svg
      fill: #71171f

.feather-nowidth
  stroke: currentColor
  stroke-width: 1
  stroke-linecap: round
  stroke-linejoin: round
  fill: white
  width: initial
  height: initial

.leaflet-control input[type=radio]
  width: initial !important
