{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path='leaflet.css', trailing_slash=false) }}" />
<link rel="stylesheet" href="{{ get_url(path='map.css', trailing_slash=false) }}" />
<script src="/pmtiles.js"></script>
<script src="/protomaps-leaflet.js"></script>
<!-- <script src="https://unpkg.com/protomaps-leaflet@5.0.1/dist/protomaps-leaflet.js"></script> -->
<script
    type="module"
    src="{{ get_url(path='map.js', trailing_slash=false) }}"
></script>
{% endblock %}
{% block content %}
{% set mapobjects_path = config.extra.mapobjects_path | default(value='/objects.json') %}
<div id="map" data-objects-list="{{ mapobjects_path | safe }}"></div>
{{ section.content | markdown | safe }}
{% endblock %}
